* {
  padding: 0;
  margin: 0;
}

body, form, #salt {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
     -moz-box-orient: horizontal;
          box-orient: horizontal;
  -webkit-box-pack: center;
     -moz-box-pack: center;
          box-pack: center;
  -webkit-box-align: center;
     -moz-box-align: center;
          box-align: center;
}

body, input {
  font: normal 16px/1.4 Helvetica, Arial, sans-serif;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  color: #ccc;
  background: #444;
}

form {
  max-width: 280px;
  padding: 2em;
  border: solid 1px #ccc;
  border-radius: .5em;
  margin: 20% auto;
  background: #ddd;
}

input {
  padding: .3em .5em;
  border: solid 1px #aaa;
  border-radius: .2em;
}

  input:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(64,128,255,.9);
  }

  input[type="submit"], input[type=button] {
    color: #fff;
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
  }

  input[type="submit"]:active, input[type=button]:active {
    background: -moz-linear-gradient(bottom,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
    background: linear-gradient(bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
  }
